.suggestions-bubble {
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  background-color: #00A0E3; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.33);
  &.disabled {
    background: rgba(#00A0E3, 0.33);
  }
}

.suggestions-bubble:hover {
  opacity: 0.5;
}