.chat {
  height: calc(100vh - 70px);

  .char-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 126px);
    overflow-y: scroll;
  }
}
