.chat {
  height: calc(100vh - 50px);
  position: relative;

  .char-area {
    position: absolute;
    bottom: 60px;
    width: 100%;
    max-height: calc(100vh - 111px);
    overflow: scroll;
  }
}
