.chat {
  height: calc(100vh - 105px);
  position: relative;

  .char-area {
    position: absolute;
    bottom: 60px;
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - 172px);
    overflow: scroll;
  }
}
