.wrapper {
  width: 100%;
  display: flex;
  align-items: center;

  &.blue {

    justify-content: flex-end;
  }

  .avatar {
    margin: 0 10px 0 16px;

    .icon-user {
      font-size: 40px;
    }
  }
}

.message-type-blue {
  margin: 10px;
  float: right;
  background-color: #00A0E3;
  color: white;
  padding: 10px;
  font-size: 12px;
  border-radius: 15px;
  border-bottom-right-radius: 0;
}

.message-type-gray {
  margin: 10px;
  float: left;
  color: #151515;
  padding: 10px;
  font-size: 12px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border: 1px solid #E2E2E2;
}
