.public-pages {
  height: 100vh;
  //background-image: url("https://www.chromethemer.com/wallpapers/chromebook-wallpapers/download/autumn-wood-3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
