.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 55px;
  box-shadow: 0 4px 2px -2px #E2E2E2;
  position: relative;
  .title {
    color: #FF3400;
    font-size: 22px;
    font-weight: 800;
  }
  .burger {
    position: absolute;
    right: 30px;
    div {
      width: 20px;
      height: 4px;
      background-color: #FF3400;
      margin: 4px 0;
    }
  }
}
