.chat-input {
  margin: 10px;
  display: flex;
  align-items: center;

  .button-wrapper {
    display: flex;
    justify-content: center;
    width:10%;
  }

  .button {
    //margin-left: 15px;
    color: #00A0E3;

    &:hover {
      opacity: 0.5;
    }
  }

  .input {
    box-shadow: unset;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    width: 90%;
  }
}
